.shadows{
    background-color: rgba(173, 173, 135, 0.418);
    box-shadow: 0px 0px 50px 20px rgb(0, 0, 0,0.3);
    border-radius: 12px;
}
.dark-bold-card {
    background-color:rgb(141, 0, 0);
    color: rgb(255, 255, 255);
    border: 3px solid rgb(71, 22, 22);
    font-weight: bold ;
}






