#contact_card{
    
    background-color: rgb(49, 51, 58);
    height: 600px;
    width: 500px;
    border-radius: 20px;
    border-style: solid;
    border-width: 2PX;
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: inset  0 4px 8px 0 rgba(250, 230, 230, 0.2), 0 6px 20px 0 rgba(109, 109, 109, 0.19);
    

}

#inside_cards{
    
    background-color: rgb(83, 83, 83);
    border-radius: 20px;

}

.padding_box{
    align-content: space-evenly;
    padding: 0px;
    padding-right: 0PX;
    padding-left: 0PX;
}

#shadows{
    background-color: rgb(119, 117, 150);
    
    box-shadow: 0px 0px 40px -5px rgba(0, 0, 0, 01), inset 0px 0px 50px 5px rgba(67, 97, 102, 0.1) ;
    border-radius: 12px;



}


#name{
    background-color: rgb(137, 134, 170);
    box-shadow: 0px 0px 40px -15px rgba(0, 0, 0, 0.5), inset 0px 10px 100px 0px rgba(67, 97, 102, 0.1) ;
    border-radius: 12px;
}

#email{
    background-color: rgb(137, 134, 170);
    box-shadow: 0px 0px 40px -15px rgba(0, 0, 0, 0.5), inset 0px 10px 100px 0px rgba(67, 97, 102, 0.1) ;
    border-radius: 12px;
}

#phone{
    background-color: rgb(137, 134, 170);
    box-shadow: 0px 0px 40px -15px rgba(0, 0, 0, 0.5), inset 0px 10px 100px 0px rgba(67, 97, 102, 0.1) ;
    border-radius: 12px;
}

#subject{
    background-color: rgb(137, 134, 170);
    box-shadow: 0px 0px 40px -15px rgba(0, 0, 0, 0.5), inset 0px 10px 100px 0px rgba(67, 97, 102, 0.1) ;
    border-radius: 12px;
}
#message{
    background-color: rgb(137, 134, 170);
    box-shadow: 0px 0px 40px -15px rgba(0, 0, 0, 0.5), inset 0px 10px 100px 0px rgba(67, 97, 102, 0.1) ;
    border-radius: 12px;
}

